{{#partial "content"}}

<body>
<header>
    <div class="container">
        <div class="site-header">
            <a class="logo" href="/">SparkBlog</a>
            <a class="new-entry button button-round" href="/new"><i class="material-icons">create</i></a>
        </div>
    </div>
</header>
<section>
    <div class="container">
        <div class="entry-list" align="center">
            <form action="/entries" method="get" name="selectedtag" class="select">
                <select name="selectedtag" class="select">
                    {{#each tags}}
                        <option class="select" name="selectedtag" value="{{.}}">{{.}}</option>
                    {{/each}}
                </select>
                <input type="submit" value="Select Entries by TAG" class="button">
                <h2 class="centertext">{{titleText}}</h2>
            </form>
            <br>
            <br>
                {{#each blogEntry}}
                <article>
                    <h2><a href="entry/{{slug}}">{{title}}</a></h2>
                    <time datetime="20-01-16 14:55" class="time">{{dateAsString}}</time>
                    <div class="tags">
                        <p>TAGs: {{#each tags}}{{.}} {{/each}}</p>
                    </div>
                </article>
                {{/each}}
        </div>
    </div>
</section>

<footer>
    <div>
        <a href="#">Contact Us</a>&nbsp;&nbsp;&bull;&nbsp;&nbsp;
        <a href="#">Terms</a>
    </div>
</footer>
</body>

{{/partial}}

{{> base.hbs}}