{{#partial "content"}}

    <body>
    <header>
        <div class="container">
            <div class="site-header">
                <a class="logo" href="/entries">SparkBlog</a>
                <a class="new-entry button button-round" href="/new"><i class="material-icons">create</i></a>
            </div>
        </div>
    </header>

    <section>
        <div class="container">
            <div class="entry-list single">
                <article>
                    <h1>{{entry.title}}</h1>
                    <time datetime="16-01-16 01:00">{{entry.dateAsString}}</time>
                    <div class="entry">
                        <p>{{entry.text}}</p>
                        <p></p>
                        <p><a class="link" href="/edit/{{slug}}">Edit Entry</a></p>
                        <p><a class="link" href="/delete/{{slug}}">Delete Entry</a></p>
                    </div>
                </article>
            </div>
        </div>
    </section>
    <section class="entry-comments">
        <div class="container">
            <h2>Comments:</h2>
            {{#each comments}}
            <div class="comment">
                <strong>{{author}}</strong>
                <time datetime="16-01-16 1:00">{{date}}</time>
                <p>{{text}}</p>
            </div>
            {{/each}}

            <div class="new-comment">
                <form action="/entry/{{slug}}/comment" method="post">
                    <label for="author">Author</label>
                    <input type="text" name="author"><br>
                    <label for="comment">Comment</label>
                    <textarea rows="5" name="comment"></textarea>
                    <input type="submit" value="Post Comment" class="button">
                    <a href="/entries" class="button button-secondary">Back to entries</a>
                </form>
            </div>
        </div>
    </section>

    <footer>
        <div>
            <a href="#">Contact Us</a>&nbsp;&nbsp;&bull;&nbsp;&nbsp;
            <a href="#">Terms</a>
        </div>
    </footer>
    </body>
{{/partial}}

{{>base.hbs}}